In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [2]:
!mkdir -p ~/.postgresql && \
wget "https://storage.yandexcloud.net/cloud-certs/CA.pem" \
    --output-document ~/.postgresql/root.crt && \
chmod 0600 ~/.postgresql/root.crt

--2023-03-07 07:35:14--  https://storage.yandexcloud.net/cloud-certs/CA.pem
Resolving storage.yandexcloud.net (storage.yandexcloud.net)... 213.180.193.243, 2a02:6b8::1d9
Connecting to storage.yandexcloud.net (storage.yandexcloud.net)|213.180.193.243|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3579 (3.5K) [application/x-x509-ca-cert]
Saving to: ‘/root/.postgresql/root.crt’

/root/.postgresql/r 100%[===================>]   3.50K  --.-KB/s    in 0s

2023-03-07 07:35:14 (569 MB/s) - ‘/root/.postgresql/root.crt’ saved [3579/3579]

In [3]:
!sudo apt update && sudo apt install --yes python3 python3-pip && \
!pip3 install psycopg2-binary

Get:1 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease [3,622 B]
Hit:2 http://archive.ubuntu.com/ubuntu focal InRelease
Get:3 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease [18.1 kB]
Get:4 http://archive.ubuntu.com/ubuntu focal-updates InRelease [114 kB]
Get:5 http://security.ubuntu.com/ubuntu focal-security InRelease [114 kB]
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu2004/x86_64  InRelease
Hit:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu2004/x86_64  Release
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Get:10 http://archive.ubuntu.com/ubuntu focal-backports InRelease [108 kB]
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Hit:13 http://ppa.launchpad.net/ubuntugis/ppa/ubuntu focal InRelease
Get:14 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal/main Sources [2,396 kB]
Get:15 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal/main amd64 Packages [1,136 kB]
Get:17 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 Packages [3,014 kB]
Get:18 http://security.ubuntu.com/ubuntu focal-security/main amd64 Packages [2,536 kB]
Get:19 http://archive.ubuntu.com/ubuntu focal-updates/restricted amd64 Packages [2,134 kB]
Get:20 http://archive.ubuntu.com/ubuntu focal-updates/multiverse amd64 Packages [31.2 kB]
Get:21 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 Packages [1,309 kB]
Get:22 http://security.ubuntu.com/ubuntu focal-security/universe amd64 Packages [1,011 kB]
Fetched 13.9 MB in 7s (1,994 kB/s)
Reading package lists... Done
Building dependency tree
Reading state information... Done
28 packages can be upgraded. Run 'apt list --upgradable' to see them.
Reading package lists... Done
Building dependency tree
Reading state information... Done
python3 is already the newest version (3.8.2-0ubuntu2).
python3 set to manually installed.
The following additional packages will be installed:
  python-pip-whl python3-setuptools python3-wheel
Suggested packages:
  python-setuptools-doc
The following NEW packages will be installed:
  python-pip-whl python3-pip python3-setuptools python3-wheel
0 upgraded, 4 newly installed, 0 to remove and 28 not upgraded.
Need to get 2,389 kB of archives.
After this operation, 4,933 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 python-pip-whl all 20.0.2-5ubuntu1.8 [1,805 kB]
Get:2 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 python3-setuptools all 45.2.0-1ubuntu0.1 [330 kB]
Get:3 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 python3-wheel all 0.34.2-1ubuntu0.1 [23.9 kB]
Get:4 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 python3-pip all 20.0.2-5ubuntu1.8 [231 kB]
Fetched 2,389 kB in 0s (5,916 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 4.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package python-pip-whl.
(Reading database ... 128215 files and directories currently installed.)
Preparing to unpack .../python-pip-whl_20.0.2-5ubuntu1.8_all.deb ...
Unpacking python-pip-whl (20.0.2-5ubuntu1.8) ...
Selecting previously unselected package python3-setuptools.
Preparing to unpack .../python3-setuptools_45.2.0-1ubuntu0.1_all.deb ...
Unpacking python3-setuptools (45.2.0-1ubuntu0.1) ...
Selecting previously unselected package python3-wheel.
Preparing to unpack .../python3-wheel_0.34.2-1ubuntu0.1_all.deb ...
Unpacking python3-wheel (0.34.2-1ubuntu0.1) ...
Selecting previously unselected package python3-pip.
Preparing to unpack .../python3-pip_20.0.2-5ubuntu1.8_all.deb ...
Unpacking python3-pip (20.0.2-5ubuntu1.8) ...
Setting up python3-setuptools (45.2.0-1ubuntu0.1) ...
Setting up python3-wheel (0.34.2-1ubuntu0.1) ...
Setting up python-pip-whl (20.0.2-5ubuntu1.8) ...
Setting up python3-pip (20.0.2-5ubuntu1.8) ...
Processing triggers for man-db (2.9.1-1) ...
/bin/bash: !pip3: command not found

In [13]:
import psycopg2

conn = psycopg2.connect("""
    host=rc1b-70q90cunwkzx49mj.mdb.yandexcloud.net
    port=6432
    sslmode=verify-full
    dbname=db_clients
    user=mlhs_student
    password=mlhs_student
    target_session_attrs=read-write
""")

In [14]:
import pandas as pd

query = "SELECT * from adult_income"
data = pd.read_sql_query(query, conn)

conn.close()

In [20]:
data.head(20)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,0.0,40.0,United-States,>50K
4,18,Private,103497,Some-college,10,Never-married,?,Own-child,White,Female,0.0,0.0,30.0,United-States,<=50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0.0,0.0,30.0,United-States,<=50K
6,29,Private,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0.0,0.0,40.0,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103.0,0.0,32.0,United-States,>50K
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,10.0,United-States,<=50K
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418.0,0.0,40.0,United-States,>50K
11,36,Federal-gov,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
12,26,Private,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0.0,0.0,39.0,United-States,<=50K
13,58,Private,299831,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0.0,0.0,35.0,United-States,<=50K
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103.0,0.0,48.0,United-States,>50K
15,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,50.0,United-States,>50K
16,20,State-gov,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,0.0,0.0,25.0,United-States,<=50K
17,43,Private,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0.0,0.0,30.0,United-States,<=50K
18,37,Private,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0.0,0.0,20.0,United-States,<=50K
19,40,Private,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0.0,0.0,45.0,?,>50K

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9615 entries, 0 to 9614
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              9615 non-null   int64
 1   workclass        9615 non-null   object
 2   fnlwgt           9615 non-null   int64
 3   education        9615 non-null   object
 4   educational-num  9615 non-null   int64
 5   marital-status   9615 non-null   object
 6   occupation       9615 non-null   object
 7   relationship     9615 non-null   object
 8   race             9614 non-null   object
 9   gender           9614 non-null   object
 10  capital-gain     9614 non-null   float64
 11  capital-loss     9614 non-null   float64
 12  hours-per-week   9614 non-null   float64
 13  native-country   9614 non-null   object
 14  income           9614 non-null   object
dtypes: float64(3), int64(3), object(9)
memory usage: 1.1+ MB

In [9]:
data[9614:]

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
9614,49,Private,123681,Assoc-acdm,12,Separated,Sales,Unmarried,None,None,NaN,NaN,NaN,None,None

In [50]:
data = data[:9614]

In [17]:
data.workclass.value_counts()

Private             6574
Self-emp-not-inc     782
Local-gov            609
?                    584
State-gov            429
Self-emp-inc         353
Federal-gov          279
Without-pay            4
Never-worked           1
Name: workclass, dtype: int64

In [18]:
# заполняем неизвестные значения самыми частыми
data.workclass[data.workclass == '?'] = 'Private'

In [19]:
data.occupation.value_counts()

Prof-specialty       1222
Exec-managerial      1213
Craft-repair         1183
Adm-clerical         1079
Sales                1066
Other-service         960
Machine-op-inspct     621
?                     585
Transport-moving      429
Handlers-cleaners     414
Farming-fishing       310
Tech-support          279
Protective-serv       194
Priv-house-serv        57
Armed-Forces            3
Name: occupation, dtype: int64

In [22]:
corr_q = data[data.occupation == '?'].corr() # строим матрицу корреляций объектов, у
                                             # которых место работы '?'

corr_q.style.background_gradient(cmap='coolwarm')

Сильной корреляции ни с каким признаком нет. Так как данных с местом работы "?" много (585), то просто назовем им отдельной категорией "other"

In [23]:
data.occupation[data.occupation == '?'] = 'other'

In [25]:
data['native-country'].value_counts()

United-States                 8681
Mexico                         186
?                              164
Philippines                     51
Germany                         41
Puerto-Rico                     41
India                           34
Canada                          34
El-Salvador                     30
Cuba                            28
England                         21
Poland                          20
Haiti                           20
South                           20
China                           19
Dominican-Republic              18
Portugal                        18
Guatemala                       17
Italy                           15
Jamaica                         15
Ecuador                         13
Columbia                        13
Japan                           12
Peru                            11
Thailand                        10
Nicaragua                        9
Taiwan                           7
Vietnam                          7
Greece                           7
Iran                             6
France                           6
Ireland                          6
Scotland                         5
Cambodia                         5
Honduras                         4
Yugoslavia                       4
Trinadad&Tobago                  4
Outlying-US(Guam-USVI-etc)       4
Hungary                          3
Hong                             3
Laos                             2
Name: native-country, dtype: int64

In [26]:
# заполняем наиболее частым значением
data['native-country'][data['native-country'] == '?'] = 'United-States'

In [54]:
data['hours-per-week'] = data['hours-per-week'].astype('int64')

In [55]:
data.income[data.income == '>50K'] = 0
data.income[data.income == '<=50K'] = 1

In [56]:
data.income.value_counts()

1    7356
0    2258
Name: income, dtype: int64

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9614 entries, 0 to 9613
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              9614 non-null   int64
 1   workclass        9614 non-null   object
 2   fnlwgt           9614 non-null   int64
 3   education        9614 non-null   object
 4   educational-num  9614 non-null   int64
 5   marital-status   9614 non-null   object
 6   occupation       9614 non-null   object
 7   relationship     9614 non-null   object
 8   race             9614 non-null   object
 9   gender           9614 non-null   object
 10  capital-gain     9614 non-null   float64
 11  capital-loss     9614 non-null   float64
 12  hours-per-week   9614 non-null   int64
 13  native-country   9614 non-null   object
 14  income           9614 non-null   object
dtypes: float64(2), int64(4), object(9)
memory usage: 1.1+ MB

In [57]:
corr = data.corr() # строим матрицу корреляций

corr.style.background_gradient(cmap='coolwarm')

In [59]:
X = data.drop('income', axis=1) # матрица объект-признак
y = data['income'] # целевая переменная

In [76]:
from sklearn.model_selection import train_test_split

Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.25, random_state=42)

In [77]:
from sklearn.preprocessing import MinMaxScaler

numerical = ['age', 'fnlwgt', 'educational-num', 'capital-gain', 'capital-loss', 'hours-per-week']

ss = MinMaxScaler()
ss.fit(Xtrain[numerical])

Xtrain_num = pd.DataFrame(ss.transform(Xtrain[numerical]), columns = numerical)
Xtest_num = pd.DataFrame(ss.transform(Xtest[numerical]), columns = numerical)

Xtrain_num.head()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
0,0.027397,0.056166,0.600000,0.0,0.0,0.132653
1,0.054795,0.342985,0.600000,0.0,0.0,0.397959
2,0.109589,0.166559,0.533333,0.0,0.0,0.500000
3,0.191781,0.164820,0.800000,0.0,0.0,0.346939
4,0.219178,0.108657,0.800000,0.0,0.0,0.551020

In [79]:
from sklearn.preprocessing import OneHotEncoder

categorical = ['workclass','education','marital-status','occupation', 'relationship', 'race', 'gender', 'native-country']

OH_encoder = OneHotEncoder(handle_unknown='error', sparse=False)
OH_encoder.fit(Xtrain[categorical])

Xtrain_ohe = pd.DataFrame(OH_encoder.transform(Xtrain[categorical]), columns=OH_encoder.get_feature_names_out())
Xtest_ohe = pd.DataFrame(OH_encoder.transform(Xtest[categorical]), columns=OH_encoder.get_feature_names_out())

In [80]:
Xtrain_new = pd.concat([Xtrain_num, Xtrain_ohe], axis=1)
Xtest_new = pd.concat([Xtest_num, Xtest_ohe], axis=1)

In [81]:
Xtrain_new[:10]

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,0.027397,0.056166,0.600000,0.0,0.0,0.132653,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.054795,0.342985,0.600000,0.0,0.0,0.397959,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.109589,0.166559,0.533333,0.0,0.0,0.500000,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.191781,0.164820,0.800000,0.0,0.0,0.346939,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.219178,0.108657,0.800000,0.0,0.0,0.551020,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5,0.287671,0.144820,0.400000,0.0,0.0,0.397959,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.643836,0.176933,0.600000,0.0,0.0,0.346939,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7,0.328767,0.170847,0.800000,0.0,0.0,0.397959,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
8,0.534247,0.128320,0.600000,0.0,0.0,0.397959,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9,0.109589,0.109552,0.800000,0.0,0.0,0.397959,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [82]:
!pip install catboost -q

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.6/76.6 MB 9.5 MB/s eta 0:00:00

In [91]:
from catboost import CatBoostClassifier

ytrain = ytrain.astype(int)

gbm = CatBoostClassifier(iterations=300, #сколько деревьев
                          depth=2, #глубина каждого дерева
                          learning_rate=0.1,
                          loss_function='Logloss',
                          eval_metric='AUC',
                          verbose=False)
gbm.fit(Xtrain_new, ytrain)
gbm_preds = gbm.predict(Xtest_new)

In [92]:
ytest = ytest.astype(int)

In [93]:
from sklearn.metrics import roc_auc_score

roc_auc_score(ytest, gbm_preds)

0.7581413904892176

In [94]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression() # объявление модели
# обучение модели

In [ ]:
model.fit(Xtrain_new, ytrain)

In [96]:
pred_classes = model.predict(Xtest_new) # предсказание классов

In [97]:
from sklearn.metrics import accuracy_score

accuracy_score(ytest, pred_classes)

0.8406821963394343

In [98]:
from sklearn.metrics import roc_auc_score

roc_auc_score(ytest, pred_classes)

0.7390050656682161

In [ ]:
from sklearn.model_selection import GridSearchCV

gbm2 = CatBoostClassifier(iterations = 500,
                          loss_function = 'Logloss',
                          learning_rate = 0.05,
                          eval_metric='AUC',
                          verbose=False)

params = {'max_depth' : [2, 3, 4, 5, 6]}

gs = GridSearchCV(gbm2, params, cv = 5, scoring='roc_auc')

In [114]:
gs.best_estimator_, gs.best_score_, gs.best_params_

(<catboost.core.CatBoostClassifier at 0x7f7213105ac0>,
 0.9214860375117133,
 {'max_depth': 6})

Итоговая оценка roc_auc = 0.9214860375117133